<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Middle Craft - Inicio</title>

    <link href="css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="css/estilos.css" type="text/css" rel="stylesheet">
    <script src="js/jquery-1.11.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/funciones.js"></script>
    <script src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body">
  <nav id="header" class="navbar-fixed-top main-menu-container menu-header" >
    <div class="container">
      <!--<a class="navbar-brand" href="index.html"><img src="images/anillo.png"></a>-->
      <div class="collapse navbar-collapse">
        <ul class="nav pull-right header-opciones fuente-mine">
          <li class="op activo"><a href="views/login.html"><span class="links">Login</span></a></li> 
          <li class="op"><a href="views/registrar.html"><span class="links">Registrar</span></a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="banner collapse navbar-collapse"><img src="images/titulo_pagina.png"/></div>
    <div class="principal ">
      <div class="row">
        <div class="col-lg-12 col-md-12">
          <div class="col-lg-9 col-md-9">
            <h1 class="titulos">TOP 100</h1>
            <div class="top-100">

            </div> 
          </div>
          <div class="col-lg-3 col-md-3">
            <div class="noticias">

            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer">
    <div>
      <span class="fuente-mine">Middle Craft - Derechos Reservados</span>
    </div>
  </div>
  </body>
</html>