<html>
  <head>
    <meta charset="utf-8">
    <title>Middle Craft - Login</title>

    <link href="../css/bootstrap.min.css" type="text/css" rel="stylesheet">
    <link href="../css/estilos.css" type="text/css" rel="stylesheet">
    <script src="../js/jquery-1.11.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/funciones.js"></script>
    <script src="../js/formularios.js"></script>
    <script src="https://cdn.datatables.net/1.10.3/js/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="https://cdn.datatables.net/plug-ins/a5734b29083/integration/bootstrap/3/dataTables.bootstrap.js" type="text/javascript"></script>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body class="body">
    <div class="formulario fuente-mine">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12">
            <!--<div class="col-lg-2 col-md-2"></div>-->
            <div class="col-lg-10 col-md-10">
              <h1 class="titulos">Entrar</h1>
              <form class="form-horizontal" role="form" action="../views/principal_portal" method="POST">
                <div class="form-group">
                  <label for="user" class="col-sm-2 control-label">Usuario</label>
                  <div class="col-sm-4">
                    <input type="text" class="form-control" id="user" style="font:message-box" placeholder="Nombre de Usuario" required>
                  </div>
                </div>
                <div class="form-group">
                  <label for="pass" class="col-sm-2 control-label">Contraseña</label>
                  <div class="col-sm-4">
                    <input type="password" class="form-control" id="pass" style="font:message-box" data-icon="x" placeholder="Contraseña" required>
                  </div>
                </div>
                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" style="font:icon;">Entrar</button>
                     
                    <a href="#recordar_con" role="button" class="btn btn-default" data-toggle="modal" style="font:icon;margin-left:5%;">Recordar Contraseña</a>
                 
                </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary" onclick="volver();" style="font:icon;">Salir</button>
                  </div>
                </div>
                 </form>
              <div id="recordar_con" class=" modal fade"  tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                  <div class="modal-content">
                    <div style="color:black" class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                      <h4 class="modal-title" >Recordar Contraseña</h4>
                    </div>
                    <div id = "body-modal-recuperar" style="color:black" class="modal-body">
                      <table>
                        <tbody>
                          <tr>
                            <td>
                              <form id = "form-recuperar" class="form-horizontal" role="form" action="#" method="POST">
                                <div class="form-group">
                                  <label for="correo" class="control-label" >Correo</label>
                                  <input type="email" class="form-control" id="correo-con" data-icon="e" title="Email" placeholder="Correo" required>
                                </div>
                                <div class="form-group">
                                  <label for="respuesta" class="control-label">Respuesta Secreta</label>
                                  <input type="text" class="form-control" id="respuesta-con "  title="Ingrese respuesta secreta" placeholder="Respuesta" required>

                                </div>
                                <button id="btn-enviar-con" type="submit" class="btn btn-primary" >Enviar</button>
                              </form>
                           </td>
                            <td><img src="../images/forgot_pass.png"></td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="modal-footer">
                      

                      <button  type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    </div>
                  </div>
                </div>
              </div>
             
            </div>
          
          </div>
        </div>
      </div>
    </div>
    <div class="footer">
      <div>
        <span class="fuente-mine">Middle Craft - Derechos Reservados</span>
      </div>
    </div>
  </body>
</html>